.profile-photo-sm {
    height: 36px;
    width: 36px;
    background-size: cover;
}

.profile-photo-md {
    height: 52px;
    width: 52px;
    background-size: cover;
}

.profile-photo-lg {
    height: 84px;
    width: 84px;
    background-size: cover;
}