//Transitions//
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in <2.1.8 */

{
  opacity: 0
}

.fadein-enter-active {
  transition: opacity .5s;
}

.fadein-leave-active {
  display: none;
}

.fadein-enter {
  opacity: 0;
}

.fadein-leave-to {
  display: none;
}

//-------------------------------------------
.expanddown-move {
  transition: 2s;
}
.expanddown-enter-active {
  transition: .5s;
  overflow: hidden;
}
.expanddown-leave-active {
  transition: .5s;
  overflow: hidden;
 // position:absolute;
}

.expanddown-enter, .expanddown-leave-to {
  max-height: 0;
}

.expanddown-enter-to, .expanddown-leave  {
  max-height: 1000px;
}

//--------------------------------------------
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(30px);
  opacity: 0;
}
